.homeMain {
  padding: 3rem 1.5rem 3rem 1.5rem;
  color: #f7f7f7;
}

.projectSectionTitle {
  margin-bottom: 3rem;
  font-weight: 600;
  font-size: 1.875rem;
}

@media (min-width: 768px) {
  .homeMain {
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0;
    max-width: 1120px;
  }
}
