@import "../global.css";

.title {
  font-weight: 600;
  font-size: 1.25rem;
}

.link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.linkDark {
  color: var(--text-link-color-dark);
  &:hover,
  &:focus {
    color: var(--text-link-hover-color-dark);
  }
}

.linkLight {
  color: var(--text-link-color-light);
  &:hover,
  &:focus {
    color: var(--text-link-hover-color-light);
  }
}

.title {
  margin-bottom: 0.5rem;
}

.publishedDate {
  margin-bottom: 0.5rem;
}

.shortDescription {
  text-wrap: pretty;
  margin-bottom: 0.75rem;
  line-height: 1.5;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.category {
  border-radius: 0.5rem;
  background-color: hsl(0, 0%, 15%);
  padding: 0.25rem 0.5rem;
  font-style: italic;
  font-size: 0.75rem;
}

.categoryDark {
  background-color: var(--badge-bg-color-dark);
  color: var(--badge-text-color-dark);
}

.categoryLight {
  background-color: var(--badge-bg-color-light);
  color: var(--badge-text-color-light);
}
