@import "../global.css";

.container {
  padding: 0 1.5rem 0 1.5rem;
}

.containerDark {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
}

.containerLight {
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
}

.main {
  padding: 3rem 0 3rem 0;
}

.projectSectionTitle {
  margin-bottom: 3rem;
  font-weight: 600;
  font-size: 1.875rem;
}

@media (min-width: 768px) {
  .main {
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0;
    max-width: 1120px;
  }
}
