@import "../../global.css";

.button {
  border-radius: 1rem;
  padding: 0.25rem 1rem;
  width: fit-content;
  font-weight: 600;
  text-decoration: none;
}

.buttonDark {
  border: var(--primary-btn-border-dark);
  background-color: var(--primary-btn-bg-color-dark);
  color: var(--primary-btn-text-color-dark);

  &:hover,
  &:focus {
    border: var(--primary-btn-border-hover-dark);
    background-color: var(--primary-btn-bg-color-hover-dark);
    color: var(--primary-btn-text-color-hover-dark);
  }
}

.buttonLight {
  border: var(--primary-btn-border-light);
  background-color: var(--primary-btn-bg-color-light);
  color: var(--primary-btn-text-color-light);

  &:hover,
  &:focus {
    border: var(--primary-btn-border-hover-light);
    background-color: var(--primary-btn-bg-color-hover-light);
    color: var(--primary-btn-text-color-hover-light);
  }
}
