.heroContainer {
  background-color: #0a0a0a;
  padding: 7.5rem 1.5rem 3.4375rem 1.5rem;
}

.profilePhoto {
  margin: 0 auto;
  border-radius: 50%;
  width: 200px;
  max-width: 100%;
  height: 200px;
  height: auto;
  object-fit: cover;
}

.richText {
  color: #f7f7f7;
  text-align: center;

  & h1 {
    padding-top: 0;
    font-weight: 700;
    font-size: 3.5rem;
  }

  & h2 {
    margin-bottom: 0.5rem;
    font-weight: 600;
    font-size: 1.8rem;
  }

  & h3 {
    margin-bottom: 0.5rem;
    font-weight: 600;
    font-size: 1rem;
  }

  & p {
    text-wrap: pretty;
    line-height: 2;
  }
}

@media (min-width: 768px) {
  .profilePhoto {
    margin: 0;
    border-radius: 50%;
    width: 200px;
    max-width: 100%;
    height: 200px;
    height: auto;
    object-fit: cover;
  }

  .innerContainer {
    display: flex;
    gap: 2rem;
    margin: 0 auto;
    max-width: 1120px;
  }

  .richText {
    max-width: 31.625rem;
    text-align: left;
  }
}
