@import "../global.css";

.container {
  flex-grow: 1;
  padding: 0 1.5rem 0 1.5rem;
}

.containerDark {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
}

.containerLight {
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
}

.mainContainer {
  display: flex;
  row-gap: 3rem;
  flex-direction: column;
  padding: 3rem 0 3rem 0;
}

@media (min-width: 768px) {
  .mainContainer {
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0;
    max-width: 1120px;
  }
}
