.wrapper {
  display: flex;
  row-gap: 3rem;
  flex-direction: column;
}

.sectionTitle {
  font-weight: 600;
  font-size: 1.25rem;
}

.container {
  display: flex;
  row-gap: 3rem;
  flex-direction: column;
}
