.list {
  list-style: none;
}

.item {
  /* border-left: 3px solid hsl(213, 56%, 67%); */
  border-left: 3px solid hsl(0, 0%, 34.51%);
  padding: 0.25rem 0 0 1rem;
}

.link {
  color: hsl(0, 0%, 34.51%);
  text-decoration: none;
  &:hover,
  &:focus {
    color: hsl(213, 56%, 80%);
  }
}
