.item {
  display: flex;
  row-gap: 1rem;
  flex-direction: column;
}

.title {
  font-weight: 700;
  font-size: 1.25rem;
}

.content {
  display: flex;
  row-gap: 0.75rem;
  flex-direction: column;
}

.image {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  background: #fd9;
  width: 100%;
  max-width: 455px;
}

.shortDescription {
  text-wrap: pretty;
  font-weight: 400;
  line-height: 1.5;
}

.badgeGroup {
  display: flex;
  column-gap: 0.5rem;
}

.link {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  color: #7aa6da;
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.linkGroup {
  display: flex;
  gap: 1rem;
}

.articleLink {
  display: flex;
  flex-direction: column;
  color: hsl(0, 0%, 97%);
  text-decoration: none;

  &:hover,
  &:focus {
    color: hsl(0, 0%, 80%);
  }
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.category {
  border-radius: 0.5rem;
  background-color: hsl(0, 0%, 15%);
  padding: 0.25rem 0.5rem;
  font-style: italic;
  font-size: 0.75rem;
}

.publishedDate {
  font-style: italic;
}
